In [6]:
import pandas as pd
import numpy as np
import datetime

In [21]:
a=pd.read_csv('BTC-USD.csv')
b=pd.read_csv('DCOILWTICO.csv')
c=pd.read_csv('DEXUSEU.csv')
d=pd.read_csv('GOLDAMGBD228NLBM.csv')
e=pd.read_csv('SP500.csv')

In [33]:
b['DATE'] = pd.to_datetime(b.DATE)

        DATE DCOILWTICO
0 2014-03-21      99.97
1 2014-03-24     100.05
2 2014-03-25      99.66
3 2014-03-26     100.61
4 2014-03-27     101.25

In [37]:
a.DATE = a.DATE.astype(str)
b.DATE = b.DATE.astype(str)
c.DATE = c.DATE.astype(str)
d.DATE = d.DATE.astype(str)
e.DATE = e.DATE.astype(str)

In [38]:
bc=pd.merge(b,c, how='outer', on='DATE')
bcd=pd.merge(bc,d, how='outer', on='DATE')
bcde=pd.merge(bcd,e, how='outer', on='DATE')
bcde

            DATE DCOILWTICO DEXUSEU GOLDAMGBD228NLBM    SP500
0     2014-03-21      99.97     NaN         1338.500  1866.52
1     2014-03-24     100.05  1.3784         1322.000  1857.44
2     2014-03-25      99.66  1.3777         1314.750  1865.62
3     2014-03-26     100.61  1.3786         1314.500  1852.56
4     2014-03-27     101.25  1.3752         1295.000  1849.04
5     2014-03-28     101.73  1.3753         1295.750  1857.62
6     2014-03-31     101.57  1.3777         1294.000  1872.34
7     2014-04-01      99.69  1.3804          1286.50  1885.52
8     2014-04-02       99.6  1.3761         1284.000  1890.90
9     2014-04-03     100.29  1.3708         1287.250  1888.77
10    2014-04-04     101.16  1.3704         1293.500  1865.09
11    2014-04-07     100.43  1.3745         1299.000  1845.04
12    2014-04-08     102.57  1.3802         1314.750  1851.96
13    2014-04-09     103.55  1.3816         1309.750  1872.18
14    2014-04-10     103.37  1.3892         1321.500  1833.08
15    2014-04-11     103.68  1.3898         1317.250  1815.69
16    2014-04-14     104.05  1.3824         1324.500  1830.61
17    2014-04-15      103.7  1.3806         1311.500  1842.98
18    2014-04-16     103.71  1.3820         1299.000  1862.31
19    2014-04-17     104.33  1.3832         1299.250  1864.85
20    2014-04-18          .  1.3816                .        .
21    2014-04-21     104.35  1.3790                .  1871.89
22    2014-04-22     101.69  1.3804         1290.750  1879.55
23    2014-04-23     101.47  1.3814         1283.500  1875.39
24    2014-04-24      102.2  1.3828         1283.500  1878.61
25    2014-04-25     100.85  1.3838         1294.250  1863.40
26    2014-04-28     101.13  1.3844         1302.000  1869.43
27    2014-04-29     101.56  1.3808         1289.750  1878.33
28    2014-04-30     100.07  1.3870         1292.000  1883.95
29    2014-05-01      99.69  1.3867         1283.000  1883.68
...          ...        ...     ...              ...      ...
1276  2019-02-11      52.43  1.1277          1306.75   2709.8
1277  2019-02-12      53.14  1.1316          1311.60  2744.73
1278  2019-02-13      53.84  1.1288          1311.15  2753.03
1279  2019-02-14       54.4  1.1284          1305.65  2745.73
1280  2019-02-15      55.58  1.1268          1318.00   2775.6
1281  2019-02-18          .       .          1323.95        .
1282  2019-02-19      56.12  1.1328          1329.55  2779.76
1283  2019-02-20       56.9       .          1345.75   2784.7
1284  2019-02-21      56.95  1.1338          1335.05  2774.88
1285  2019-02-22      57.01  1.1342          1322.25  2792.67
1286  2019-02-25      55.32  1.1345          1329.15  2796.11
1287  2019-02-26       55.4  1.1374          1327.55   2793.9
1288  2019-02-27      56.92   1.137          1326.45  2792.38
1289  2019-02-28      57.21  1.1379          1325.45  2784.49
1290  2019-03-01      55.76  1.1376          1309.95  2803.69
1291  2019-03-04       56.6  1.1328          1287.45  2792.81
1292  2019-03-05      56.55    1.13          1285.00  2789.65
1293  2019-03-06      56.22   1.132          1285.55  2771.45
1294  2019-03-07       56.6  1.1214          1286.40  2748.93
1295  2019-03-08      55.77  1.1243          1294.10  2743.07
1296  2019-03-11      56.79  1.1226          1296.35   2783.3
1297  2019-03-12      56.89  1.1276          1296.95  2791.52
1298  2019-03-13      58.27   1.131          1308.40  2810.92
1299  2019-03-14      58.59  1.1304          1299.20  2808.48
1300  2019-03-15      58.51  1.1326          1302.65  2822.48
1301  2019-03-18      59.09  1.1337          1305.35  2832.94
1302  2019-03-19        NaN  1.1346          1308.35  2832.57
1303  2019-03-20        NaN  1.1352          1303.00  2824.23
1304  2019-03-21        NaN  1.1361          1317.30  2854.88
1305  2019-03-22        NaN  1.1282              NaN      NaN

[1306 rows x 5 columns]

In [39]:
abcde=pd.merge(a,bcde, how='inner', on='DATE')
abcde.head()

,Open,High,Low,Close,Adj Close,Volume,DATE,DCOILWTICO,DEXUSEU,GOLDAMGBD228NLBM,SP500
0,565.989990,587.419983,540.219971,549.599976,549.599976,2173864,2014-03-21,99.97,NaN,1338.500,1866.52
1,551.159973,572.520020,531.270020,567.559998,567.559998,2024402,2014-03-24,100.05,1.3784,1322.000,1857.44
2,567.559998,569.659973,550.429993,562.890015,562.890015,2172190,2014-03-25,99.66,1.3777,1314.750,1865.62
3,562.890015,575.419983,546.260010,562.450012,562.450012,2087611,2014-03-26,100.61,1.3786,1314.500,1852.56
4,562.450012,567.750000,460.450012,460.450012,460.450012,2010894,2014-03-27,101.25,1.3752,1295.000,1849.04

In [40]:
abcde=abcde.iloc[5:]
abcde

,Open,High,Low,Close,Adj Close,Volume,DATE,DCOILWTICO,DEXUSEU,GOLDAMGBD228NLBM,SP500
5,460.450012,514.950012,453.750000,482.609985,482.609985,2022261,2014-03-28,101.73,1.3753,1295.750,1857.62
6,444.660004,487.350006,438.029999,463.450012,463.450012,1845836,2014-03-31,101.57,1.3777,1294.000,1872.34
7,463.450012,480.269989,409.250000,424.369995,424.369995,2004152,2014-04-01,99.69,1.3804,1286.50,1885.52
8,424.369995,448.739990,386.670013,436.309998,436.309998,1708540,2014-04-02,99.6,1.3761,1284.000,1890.90
9,436.309998,456.459991,415.510010,444.359985,444.359985,1127311,2014-04-03,100.29,1.3708,1287.250,1888.77
10,444.359985,461.170013,439.369995,456.630005,456.630005,529964,2014-04-04,101.16,1.3704,1293.500,1865.09
11,462.380005,480.690002,457.570007,466.559998,466.559998,1839605,2014-04-07,100.43,1.3745,1299.000,1845.04
12,466.559998,479.660004,451.070007,457.339996,457.339996,1809262,2014-04-08,102.57,1.3802,1314.750,1851.96
13,457.339996,463.450012,384.630005,384.630005,384.630005,1547153,2014-04-09,103.55,1.3816,1309.750,1872.18
14,384.630005,450.399994,355.709991,435.140015,435.140015,2175242,2014-04-10,103.37,1.3892,1321.500,1833.08
15,435.140015,469.829987,428.019989,437.649994,437.649994,2293511,2014-04-11,103.68,1.3898,1317.250,1815.69
16,478.380005,526.630005,466.429993,526.429993,526.429993,3945871,2014-04-14,104.05,1.3824,1324.500,1830.61
17,526.429993,549.049988,496.079987,536.950012,536.950012,4192651,2014-04-15,103.7,1.3806,1311.500,1842.98
18,536.950012,537.030029,486.890015,502.000000,502.000000,4097576,2014-04-16,103.71,1.3820,1299.000,1862.31
19,502.000000,512.150024,472.000000,485.519989,485.519989,4112826,2014-04-17,104.33,1.3832,1299.250,1864.85
20,485.519989,516.890015,473.160004,506.019989,506.019989,4154929,2014-04-18,.,1.3816,.,.
21,495.160004,520.510010,483.390015,487.910004,487.910004,2824567,2014-04-21,104.35,1.3790,.,1871.89
22,487.910004,509.959991,482.250000,487.299988,487.299988,2340457,2014-04-22,101.69,1.3804,1290.750,1879.55
23,487.299988,507.329987,477.220001,500.290009,500.290009,2075376,2014-04-23,101.47,1.3814,1283.500,1875.39
24,500.290009,502.489990,438.329987,464.489990,464.489990,3000226,2014-04-24,102.2,1.3828,1283.500,1878.61
25,464.489990,468.679993,448.570007,457.869995,457.869995,3157540,2014-04-25,100.85,1.3838,1294.250,1863.40
26,441.920013,453.779999,430.709991,446.119995,446.119995,1670352,2014-04-28,101.13,1.3844,1302.000,1869.43
27,446.119995,452.640015,430.890015,445.630005,445.630005,1831533,2014-04-29,101.56,1.3808,1289.750,1878.33
28,445.630005,464.489990,444.510010,460.130005,460.130005,1915772,2014-04-30,100.07,1.3870,1292.000,1883.95
29,460.130005,463.380005,442.000000,453.670013,453.670013,1532239,2014-05-01,99.69,1.3867,1283.000,1883.68
30,453.670013,454.200012,429.089996,438.649994,438.649994,1143291,2014-05-02,100.09,1.3864,1285.000,1881.14
31,430.869995,434.950012,420.230011,432.190002,432.190002,1809731,2014-05-05,99.74,1.3884,.,1884.66
32,432.190002,458.779999,423.549988,446.549988,446.549988,2209759,2014-05-06,99.81,1.3924,1308.500,1867.72
33,446.549988,455.500000,439.500000,441.109985,441.109985,1134338,2014-05-07,101.06,1.3917,1311.000,1878.21
34,441.109985,455.779999,438.500000,445.450012,445.450012,1013830,2014-05-08,100.52,1.3864,1291.250,1875.63
...,...,...,...,...,...,...,...,...,...,...,...
1276,3685.139893,3688.590088,3608.179932,3611.340088,3611.340088,146354074,2019-02-11,52.43,1.1277,1306.75,2709.8
1277,3611.340088,3648.669922,3574.219971,3617.409912,3617.409912,164816438,2019-02-12,53.14,1.1316,1311.60,2744.73
1278,3617.409912,3655.889893,3590.010010,3605.870117,3605.870117,146822348,2019-02-13,53.84,1.1288,1311.15,2753.03
1279,3605.870117,3619.699951,3567.389893,3588.719971,3588.719971,117804856,2019-02-14,54.4,1.1284,1305.65,2745.73
1280,3588.719971,3640.649902,3575.949951,3593.489990,3593.489990,130398989,2019-02-15,55.58,1.1268,1318.00,2775.6
1281,3670.919922,3952.439941,3661.419922,3912.570068,3912.570068,376203280,2019-02-18,.,.,1323.95,.
1282,3912.570068,4010.909912,3882.520020,3924.239990,3924.239990,292137057,2019-02-19,56.12,1.1328,1329.55,2779.76
1283,3924.239990,3992.310059,3898.909912,3974.050049,3974.050049,209282292,2019-02-20,56.9,.,1345.75,2784.7
1284,3974.050049,4026.540039,3900.280029,3937.040039,3937.040039,187314178,2019-02-21,56.95,1.1338,1335.05,2774.88
1285,3937.040039,3996.149902,3917.659912,3983.530029,3983.530029,170405341,2019-02-22,57.01,1.1342,1322.25,2792.67
1286,3771.620117,3885.060059,3771.530029,3845.510010,3845.510010,185036583,2019-02-25,55.32,1.1345,1329.15,2796.11
1287,3845.510010,3852.659912,3791.899902,3817.879883,3817.879883,126868886,2019-02-26,55.4,1.1374,1327.55,2793.9
1288,3817.879883,3851.840088,3699.530029,3830.719971,3830.719971,175069054,2019-02-27,56.92,1.137,1326.45,2792.38
1289,3830.719971,3909.860107,3798.000000,3823.370117,3823.370117,170646670,2019-02-28,57.21,1.1379,1325.45,2784.49
1290,3823.370117,3866.120117,3822.669922,3831.479980,3831.479980,101774924,2019-03-01,55.76,1.1376,1309.95,2803.69
1291,3812.310059,3831.010010,3705.139893,3731.280029,3731.280029,147245676,2019-03-04,56.6,1.1328,1287.45,2792.81
1292,3731.280029,3893.520020,3720.489990,3874.179932,3874.179932,165062256,2019-03-05,56.55,1.13,1285.00,2789.65
1293,3874.179932,3916.290039,3839.389893,3874.979980,3874.979980,129520549,2019-03-06,56.22,1.132,1285.55,2771.45
1294,3874.979980,3911.760010,3853.199951,3882.610107,3882.610107,146201726,2019-03-07,56.6,1.1214,1286.40,2748.93
1295,3882.610107,3932.020020,3804.979980,3868.020020,3868.020020,153405087,2019-03-08,55.77,1.1243,1294.10,2743.07
1296,3929.840088,3941.989990,3849.449951,3874.889893,3874.889893,126998648,2019-03-11,56.79,1.1226,1296.35,2783.3
1297,3874.889893,3904.699951,3827.229980,3888.570068,3888.570068,130291591,2019-03-12,56.89,1.1276,1296.95,2791.52
1298,3888.570068,3898.250000,3853.060059,3878.439941,3878.439941,108286926,2019-03-13,58.27,1.131,1308.40,2810.92
1299,3878.439941,3922.209961,3825.030029,3881.439941,3881.439941,133931876,2019-03-14,58.59,1.1304,1299.20,2808.48
1300,3881.439941,3935.100098,3876.169922,3927.080078,3927.080078,125588541,2019-03-15,58.51,1.1326,1302.65,2822.48
1301,3998.000000,4038.989990,3964.310059,3988.850098,3988.850098,109428478,2019-03-18,59.09,1.1337,1305.35,2832.94
1302,3988.850098,4032.040039,3972.469971,4024.139893,4024.139893,118919147,2019-03-19,NaN,1.1346,1308.35,2832.57
1303,4024.139893,4064.949951,3995.489990,4056.750000,4056.750000,148490744,2019-03-20,NaN,1.1352,1303.00,2824.23
1304,4056.750000,4082.290039,3953.530029,3996.929932,3996.929932,178077036,2019-03-21,NaN,1.1361,1317.30,2854.88
1305,3996.929932,4018.209961,3984.000000,4000.840088,4000.840088,90726555,2019-03-22,NaN,1.1282,NaN,NaN